<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
   
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        
    {% endblock %}
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bienvenue</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vulputate sodales diam. Nullam laoreet mi et libero faucibus facilisis. Proin quis magna finibus lacus pellentesque tincidunt ut id dui. Phasellus convallis dui mollis pulvinar porttitor. Aliquam vitae aliquam libero, eu blandit ante. Etiam faucibus sit amet erat eu malesuada. Vestibulum aliquet congue orci sit amet scelerisque. In hac habitasse platea dictumst. Maecenas molestie mi ut risus volutpat imperdiet. Morbi nec ultrices dui. Ut elementum nibh in nibh accumsan bibendum. Pellentesque ac dignissim orci.</p>
                        <hr>
                        
                        <h5 class="title">Informations neccéssaires</h5>
                        <hr>
                        {{form(welcomeForm)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>