<div class="p-4 mb-3 rounded">
    <h4 class="fst-italic d-flex justify-content-between align-items-center">A propos <img src="{{ asset('images/my-photo.jpeg')}}" alt="" width="80"></h4>
    <p class="pb-0 text-secondary">Basé sur ma grande passion pour la technologie Imformatique et mon envie
    de l'explorer , j'ai commencé mon plan de reconversion professionnelle en
    2021 en apprenant les langages HTML, CSS, Javascript, PHP, Symfony, MySQL etc...Je crée ce blog pour publier les articles dans les domaines que je y'étude et les projets que j'ai fait.  </p>
</div>